@font-face {
    src: url(/@sets/fonts/Montserrat-VariableFont_wght.woff2) format("woff2");
    font-family: "Montserrat";
    font-weight: 100 900;
    font-style: normal;
}

body {
    font-family: 'Montserrat';
    margin: 0 !important;
}

* {
    transition: opacity var(--fadeIn-animation);
}
